body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  background: var(--bg-main);
  margin: 0;
  display: flex;
}

.board {
  display: flex;
  gap: 16px;
  padding: 32px;
  overflow-x: auto;
  background: var(--bg-board);
  width: 95vw;
  scrollbar-width: thin;
  margin-left: 20px;
  scrollbar-color: var(--scrollbar) transparent;
}

.board::-webkit-scrollbar {
  height: 10px;
}

.board::-webkit-scrollbar-track {
  background: var(--bg-board);
  border-radius: 10px;
}

.board::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
  transition: background 0.2s;
}

.board::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.underBoardZone {
  background: var(--bg-main);
  height: 60vh;
}

.column {
  background: var(--bg-column);
  padding: 16px;
  width: 260px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  transition: all 0.2s ease;
  min-width: fit-content;
}

.column:hover {
  background: var(--bg-column-hover);
  opacity: 0.9;
}

.column.active-left {
  box-shadow: inset 12px 0 0 var(--active-border);
}

.column.active-right {
  box-shadow: inset -12px 0 0 var(--active-border);
}

.column h3 {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.draggableZone {
  cursor: grab;
  padding: 6px;
  background: var(--accent);
  border-radius: 8px;
  width: 50px;
  height: 40px;
  color: white;
  align-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  transition: background 0.2s;
}

.draggableZone:hover {
  background: var(--accent-hover);
}

.draggableZone:active {
  cursor: grabbing;
  opacity: 0.4;
  transform: rotate(2deg) scale(1.03);
  transition: 0.8s step-start;
}

.task {
  background: var(--bg-task);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px var(--shadow);
  cursor: grab;
  transition: all 0.15s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task:hover {
  transform: translateY(-2.5px);
  box-shadow: 0 4px 10px var(--shadow-hover);
  transition: 0.4s ease;
}

.task.dragging {
  opacity: 0.4;
  transform: rotate(2deg) scale(1.03);
  transition: 0.8s step-start;
}

.task button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 14px;
  transition: 0.2s;
  justify-content: center;
}

.task button:hover {
  color: var(--danger);
}

button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: var(--text-main);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: var(--accent);
}

button:active {
  transform: scale(0.97);
}

.dragging-column {
  opacity: 0.5;
  transform: scale(0.98);
}

.adminPanel {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background: var(--bg-column);
  box-shadow: -4px 0 10px var(--shadow);
  padding: 16px;
  z-index: 1000;

  transform: translateX(100%);
  opacity: 0.8;
  transition:
    transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease;
}

.adminPanel.open {
  transform: translateX(0);
  transition:
    transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease;
  opacity: 1;
}

.adminToggle {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: var(--accent);
  color: white;
  border-radius: 8px 0 0 8px;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
  font-weight: bold;

  transition:
    right 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    background 0.2s ease,
    transform 0.2s ease;
}

.adminPanel.open + .adminToggle {
  right: 260px;
}

.toolbarZone {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.deleteColumnBtn {
  background: transparent;
  color: var(--accent);
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 6px;

  opacity: 0;
  transition: 0.2s;
}

.column:hover .deleteColumnBtn {
  opacity: 1;
}

.deleteColumnBtn:hover {
  color: var(--danger);
  background: rgba(0, 0, 0, 0.08);
}

.confirmOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.confirmModal {
  background: var(--bg-column);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 30px var(--shadow);
  min-width: 250px;
}

.confirmActions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 16px;
}

.columnHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: flex-end;
}
