body {
  font-family: sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(6, 250px);
  gap: 16px;
}

.column {
  background: #f4f4f4;
  padding: 12px;
  width: 250px;
  transition: 0.2s;
}

.column.active-left {
  border-left: 4px solid blue;
}

.column.active-right {
  border-right: 4px solid blue;
}

.task {
}

.dragging {
  opacity: 0.5;
}

.draggableZone {
  border: 1px black dotted;

  .active {
    opacity: 0.3;
  }
}
